/* @theme Kageori */

@import 'default';

.kageori-font {
  color: #a10115;
}

.kageori-font-light {
  color: #f0efe9;
}

.underline {
  text-decoration: underline;
}

section {
  background: #f0efe9;
}

h1 {
  color: #a10115;
}

h2 {
  padding: 0.25em 0.5em;
  background: transparent;
  border-left: solid 5px #a10215;
}

h3 {
  position: relative;
  padding-left: 1.2em;
  line-height: 1.2;
}

h3:before {
  content: '\00BB';
  font-weight: 100;
  position: absolute;
  font-size: 1.3em;
  left: 0;
  top: -0.2em;
  color: #d72c15;
}

img {
  height: 120px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

p {
  color: #171717;
}

hr {
  overflow: visible; /* For IE */
  height: 1px;
  padding: 0;
  margin: 1.8em;
  border: none;
  border-top: medium #333;
  color: #333;
  text-align: center;

  background-image: -webkit-linear-gradient(
    left,
    transparent 0%,
    #d72c15 50%,
    transparent 100%
  );
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    #d72c15 50%,
    transparent 100%
  );
}

hr:after {
  content: '\22c4';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  color: #d72c15;
  background: #f0efe9;
}

a:link {
  color: #a10115;
}

footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 120px;
}
